<!DOCTYPE html>
<html>
    <head>
        <title>
            First Page
        </title>
    </head>
    <body>
        <h2>First Page</h2>
        <h4>Welcome <%= username %></h4>
        <a href="views/Page2.ejs">Page2</a>
    </body>
</html>